function Remove-{{Prefix}}Context {
    <#
    .SYNOPSIS
        Removes the connection used by the {{ModuleName}} commands.

    .DESCRIPTION
        Calls Remove-OpenApiContext from tcs.openapi for the service '{{Service}}'.

    .PARAMETER Persisted
        Also removes the saved connection and its secrets.

    .EXAMPLE
        Remove-{{Prefix}}Context -Persisted

        Removes the connection of this session and the saved connection.

{{HelpLink}}
    .LINK
        Remove-OpenApiContext
    #>
    [CmdletBinding(SupportsShouldProcess = $true, ConfirmImpact = 'Medium'{{HelpUriArgument}})]
    param(
        [Parameter()]
        [switch]
        $Persisted
    )

    $tcsContext = @{ Service = $script:TcsOpenApiService }
    foreach ($tcsName in @($PSBoundParameters.Keys)) {
        if (@('WhatIf', 'Confirm') -notcontains $tcsName) {
            $tcsContext[$tcsName] = $PSBoundParameters[$tcsName]
        }
    }
    if ($PSCmdlet.ShouldProcess($script:TcsOpenApiService, 'Remove the API connection')) {
        Remove-OpenApiContext @tcsContext
    }
}
